name: PR - Build
on:
    pull_request:
        branches: [master]
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Build app
              uses: actions/setup-node@v2
              with:
                  node-version: '14'
            - run: |
                  npm ci
                  npm run build
