name: CI
on:
    pull_request:
    push:
        branches:
            - master
        tags:
            - 'v*.*.*'

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup NodeJS
              uses: actions/setup-node@v2
              with:
                  node-version: '14'
                  registry-url: https://registry.npmjs.org

            - name: Installing Dependencies
              run: npm i

            - name: Lint
              run: npm run lint

            - name: Build
              run: npm run build

            - name: Run Unit Tests
              run: |
                  npm run unit
            # TODO: Integration tests requires metacall/FaaS or dashboard.metacall.io credentials
            # TODO: unComment when FaaS is ready
            # - name: Run Tests
            #   run: |
            #       npm run test

            - name: Publish
              uses: JS-DevTools/npm-publish@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  check-version: true
                  access: 'public'
                  token: ${{ secrets.NPM_AUTH_TOKEN }}
